:root {
  --open-close-fontsize: 1rem;
}

#appWrap {
  padding: 0.5rem;
}

#input-wrap {
  font-size: 1.2rem;
  background-color: #ececec;
  border-radius: 8px;
  box-shadow: 0 0 1rem black;
  padding: 0.5rem;
}

#personalInfoWrap {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

#pinfo-button-wrap {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

#pinfo-photo {
  border: none;
}

.section-title {
  text-align: center;
}

.inputArea {
  padding: 1rem;
}

.close-button {
  text-align: center;
}

.closebutton {
  font-size: var(--open-close-fontsize);
}

.myform {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.save-close-wrap {
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.save-close-wrap > * {
  font-size: 1rem;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}

.open-btn {
  text-align: center;
  font-size: var(--open-close-fontsize);
}

.each-skill {
  text-align: center;
  margin-bottom: 0.5rem;
}

.del-skill {
  margin-left: 0.5rem;
  color: red;
}

.del-section {
  text-align: center;
}

.add-btn-wrap {
  text-align: center;
}
.add-btn {
  margin-bottom: 0.5rem;
  font-size: var(--open-close-fontsize);
}

#input-wrap {
  margin-bottom: 1rem;
}
