#mainWrap {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  gap: 5rem;
  background-color: #f8f9fa;
}

.main-title {
  color: var(--title-color);
  font-size: var(--title-fontsize);
  margin-bottom: 0.5rem;
}
