#mainWrap {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  background-color: #f8f9fa;
  max-height: inherit;
  max-width: inherit;
  gap: 1rem;
}

.main-title {
  color: var(--title-color);
  font-size: var(--title-fontsize);
  margin-bottom: 0.5rem;
}

#descriptionWrap,
#educationWrap,
#project-area {
  max-height: inherit;
}
