#sidebarWrap {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  justify-content: space-between;
  background-color: #e9ecef;
}

#sb-contact-component,
#sb-socials-component,
#sb-skills-component {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1rem;
}

#contact-title,
#social-title,
#skills-title {
  margin-bottom: 0.5rem;
  text-align: center;
  border-bottom: 1px solid black;
  color: var(--title-color);
  font-size: var(--title-fontsize);
}

.mediaWrap {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.sb-icon {
  font-size: 1.5rem;
}
